.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  min-width: 350px;
}

/* 圖片 */
.searchForm .searchImg {
  width: 32.5px;
  user-select: none;
}

/* 輸入 */
.searchForm .inputContainer {
  width: 300px;
  position: relative;
}
.searchForm input {
  width: 100%;
  font-size: 1.25rem;
  padding: 5px;
  border: none;
  border-bottom: 1px solid white;
  outline: none; /* 移除聚焦時的外框 */
  background-color: transparent;
  color: white;
  letter-spacing: 0.075rem;
}
/* 建議 */
.searchForm .suggestions {
  position: absolute;
  width: 100%;
  z-index: 1;
  margin-top: 10px;
  padding: 10px;
  background: #eee;
  border-radius: 4px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.5);
}
.searchForm .suggestions li {
  list-style: none;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.searchForm .suggestions li:hover {
  background: #9d9d9d;
  color: white;
}

/* 提交按鈕 */
.searchForm .submitBtn {
  font-size: 1.05rem;
  cursor: pointer;
  border-radius: 7px;
  background-color: #0071db;
  filter: brightness(85%);
  color: white;
  font-weight: 600;
  text-align: center;
  letter-spacing: 5px;
  padding: 11px 21px;
  padding-left: 26px;
  border: none;
  overflow: hidden;
  transition: all 0.2s ease-in;
}
.searchForm .submitBtn:hover {
  filter: brightness(110%);
}

.searchForm .submitBtn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.searchForm .submitBtn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.searchForm .submitBtn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* 響應式 */
/* 950 */
@media (max-width: 950px) {
  /* 圖片 */
  .searchForm .searchImg {
    width: 28px;
  }
  /* 輸入 */
  .searchForm input {
    width: 100%;
    font-size: 1.25rem;
    padding: 5px;
  }
  /* 按鈕 */
  .searchForm .submitBtn {
    font-size: 0.9rem;
    padding: 11px 15px;
    padding-left: 21px;
  }
}

/* 810 */
@media (max-width: 810px) {
  /* 圖片 */
  .searchForm .searchImg {
    width: 25px;
  }
  /* 輸入 */
  .searchForm input {
    width: 100%;
    font-size: 1.15rem;
    padding: 5px;
  }
  /* 按鈕 */
  .searchForm .submitBtn {
    font-size: 0.9rem;
    padding: 10px 15px;
    padding-left: 20px;
  }
}

/* 725 */
@media (max-width: 740px) {
  /* 輸入 */
  .searchForm input {
    width: 100%;
    font-size: 1.1rem;
    padding: 5px 5px;
  }
}

/* 620 */
@media (max-width: 620px) {
  /* 輸入 */
  .searchForm .inputContainer {
    width: 240px;
  }
}
/* 520 */
@media (max-width: 520px) {
  /* 輸入 */
  .searchForm .inputContainer {
    width: 180px;
  }
}
/* 470 */
@media (max-width: 470px) {
  /* 輸入 */
  .searchForm .inputContainer {
    width: 130px;
  }
  /* 建議 */
  .searchForm .suggestions {
    padding: 7px;
    font-size: 0.9rem;
  }
}
