.passwordForgetForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  gap: 15px;
}

.passwordForgetForm .logo {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1c3d5c;
  padding-bottom: 20px;
}

.passwordForgetForm .newPasswordBtn {
  width: 35%;
  font-size: 1rem;
  cursor: pointer;
  padding: 11px 25px;
  border-radius: 10px;
  background-color: #0071db;
  color: white;
  font-weight: 600;
  border: none;
  margin-top: 35px;
  margin-bottom: -15px;
  transition: 0.15s;
}
.passwordForgetForm .newPasswordBtn:hover {
  filter: brightness(85%);
}

/* 獲取驗證碼按鈕 */
.passwordForgetForm .getVerify {
  background-color: #0057a8;
  color: white;
  padding: 7px 10px;
  font-size: 0.9rem;
  margin-left: auto;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.passwordForgetForm .getVerify:hover {
  filter: brightness(80%);
}
