/* 導覽列按鈕 */
.sidebar_button {
  position: fixed;
  top: 10px;
  left: 15px;
  z-index: 101;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(128, 128, 128, 0.3);
  width: 50px;
  height: 45px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* 開啟 */
.sidebar_button .openBar {
  width: 30px;
  user-select: none;
  filter: drop-shadow(0 0 1px white);
}
/* 關閉 */
.sidebar_button .closeBar {
  width: 20px;
  user-select: none;
}
.btn_noBorder {
  border: none;
  background-color: transparent;
}
.sidebar_button:hover img {
  transform: scale(1.1);
}

/* 導覽列 */
.Sidebar {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  padding: 10px;
  transition: top 0.25s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translate(-100%);
}
.Sidebar::-webkit-scrollbar {
  width: 0;
}

.show_SideBar {
  transform: translate(0);
}

/* logo */
.Sidebar .logo {
  width: fit-content;
  height: fit-content;
  /* min-height: fit-content; */
  padding: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Sidebar .logo img {
  transform: scale(1.2);
}

/* tools */
.Sidebar .tools {
  width: fit-content;
  min-height: 10%;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.Sidebar .tools .tool {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
}
.Sidebar .tools .tool:hover {
  filter: brightness(60%);
}
.Sidebar .tools .tool img {
  width: 30px;
  user-select: none;
}
.Sidebar .tools .tool img.avatar {
  width: 38px;
  height: 38px;
  border-radius: 60%;
  user-select: none;
}

/* 導覽列 */
.Sidebar nav {
  width: 100%;
  height: 60%;
  min-height: 400px;
}
.Sidebar nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  color: white;
  font-weight: 500;
  width: 100%;
  height: 100%;
}
.Sidebar nav ul li {
  position: relative;
  width: 100%;
  height: 20%;
  user-select: none;
}
.Sidebar nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  padding: 10px;
  font-size: 1.1rem;
  color: #fff;
  letter-spacing: 2.5px;
  transition: 0.15s;
}
.Sidebar nav ul li a:hover {
  background-color: rgba(128, 128, 128, 0.9);
}

/* 無法使用 */
.Sidebar .notAllow {
  user-select: none;
  pointer-events: none;
  filter: brightness(50%);
}
