.homePopularProduct {
  width: 180px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
  filter: brightness(75%);
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: black;
  margin: 0 auto;
}

.homePopularProduct:hover {
  filter: brightness(105%);
}

.homePopularProduct img {
  height: 100%;
  width: auto;
}
